{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowSecretManager",
      "Effect": "Allow",

      "Action": [
        "secretsmanager:ListSecrets",
        "secretsmanager:DescribeSecret",
        "secretsmanager:GetSecretValue"
      ],

      "Resource": ${ jsonencode(resource) }
    }
  ]
}